</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Shop</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/admin/add-product">Add product</a></li>
        <li><a href="/admin/product-list">Products</a></li>
      </ul>
    </nav>
  </header>
  <main>