<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/products">Shop</a></li>
          <li><a href="/cart">Cart</a></li>
          <li><a href="/admin/add-product">Add product</a></li>
          <li><a href="/admin/product-list">Products</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>404</h1>
      <h4>No Page Found</h4>
    </main>
    <footer>
      <stront> &copy; 2024 Your Company Name. All Rights Reserved. </stront>
    </footer>
  </body>
</html>
